[submodule "26_kedro"]
	path = 26_kedro
	url = https://github.com/vitorpbarbosa7/kedro
[submodule "27_docker"]
	path = 27_docker
	url = https://github.com/vitorpbarbosa7/docker
[submodule "28_cookiecutter"]
	path = 28_cookiecutter
	url = https://github.com/vitorpbarbosa7/cookiecutter
[submodule "29_bash_scripting"]
	path = 29_bash_scripting
	url = https://github.com/vitorpbarbosa7/bash-scripting
