[submodule "26_kedro"]
	path = 26_kedro
	url = https://github.com/vitorpbarbosa7/kedro
[submodule "27_docker"]
	path = 27_docker
	url = https://github.com/vitorpbarbosa7/docker
[submodule "28_cookiecutter"]
	path = 28_cookiecutter
	url = https://github.com/vitorpbarbosa7/cookiecutter
[submodule "29_bash_scripting"]
	path = 29_bash_scripting
	url = https://github.com/vitorpbarbosa7/bash-scripting
[submodule "21_neural_network_from_scratch"]
	path = 21_neural_network_from_scratch
	url = git@github.com:vitorpbarbosa7/NNScratch.git
[submodule "05_design_patterns_learning"]
	path = 05_design_patterns_learning
	url = git@github.com:vitorpbarbosa7/design_patterns_python.git
